.titler {
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 0px;
    font-size: 50px;
    color: white;
}

.subtext {
    margin-top: 10px;
    margin-left: 60px;
    color: white;
}

.experience {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;    
}

.vertical-timeline-element--education{
    color: white;
}

.vertical-timeline-element-title {
    color: black;
}

.description  {
    color: black;
}

