.home {
    width: 100%;
    align-items: center;
    color: black;
    padding: 0;
    margin: 0;
  }
  
  .about {
    width: 90%;
    height: calc(100vh - 400px);
    margin-left: 60px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: black;
  }

  .about h2 {
    font-size: 50px;
    color: white;
    height: 50px;
    margin-bottom: 20px; /* Adjusted margin to move the text down */
  }

  .about .name {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-fill-color: transparent;
  }
  .about .prompt {
    width: 80%;
    font-size: 30px;
    justify-content: center;
    text-align: left;
    align-items: center;
    color: white;
    margin-bottom: 100px;
  }
  
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }
  
  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h1 {
    color: #3e497a;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }