.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: "Outfit";
  background-color: #04152d;
  scroll-behavior: smooth;
  padding: 0;
  margin: 50;
}

.body {
  padding: 0;
  margin: 0;
}
