@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    background: black;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    scroll-behavior: smooth;
    color-scheme: dark;
  }